.navContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.innerContainer {
	display: flex;
	align-items: center;
	list-style-type: none;
	background-color: black;
}

.navBtn {
	display: inline-grid;
	padding: 1rem;
}

#logoImg {
	width: 15rem;
	height: auto;
}
